<!DOCTYPE html>
<html ng-app="myApp">
<head>
<SCRIPT language=JavaScript>

var message = "function disabled";

function rtclickcheck(keyp){ if (navigator.appName == "Netscape" && keyp.which == 3){ alert(message); return false; }

if (navigator.appVersion.indexOf("MSIE") != -1 && event.button == 2) { alert(message); return false; } }

document.onmousedown = rtclickcheck;

</SCRIPT>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>News</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
<link rel="" href="css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div ng-controller="myAppCtrl">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10 heading">				
			<h2 align="center">
				Online Farmer Store
			</h2>								
		</div>
		<div class="col-xs-1">
			<div align="center" >
				<div class="btn" aria-label="Login">
					<button type="button" class="btn btn-info" ng-click="login()">Login</button>
				</div>					
			</div>
		</div>
	</div>	
	<nav class="navbar navbar-default">
	 <div class="container-fluid">
	   <!-- Brand and toggle get grouped for better mobile display -->
	   <div class="navbar-header">
	     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	       <span class="sr-only">Toggle navigation</span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	     </button>
	     <a class="navbar-brand" href="#">B</a>
	   </div>
	
	   <!-- Collect the nav links, forms, and other content for toggling -->
	   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     <ul class="nav navbar-nav">
	       <li><a href="#/home" class="glyphicon glyphicon-home">Home</a></li>
	       <li class={{}}><a href="#/veggies" class="glyphicon glyphicon-tree-deciduous">Veggies</a></li>
	       <li class={{}}><a href="#/fruits" class="glyphicon glyphicon-apple">Fruits</a></li>
	       <li class={{}}><a href="#/aboutUs" class="glyphicon glyphicon-retweet">AboutUs</a></li>
	       <li class={{}}><a href="#/share"class="glyphicon glyphicon-share">Share</a></li>
	       <!-- <li class="dropdown">
	         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	         <ul class="dropdown-menu">
	           <li><a href="#">Action</a></li>
	           <li><a href="#">Another action</a></li>
	           <li><a href="#">Something else here</a></li>
	           <li role="separator" class="divider"></li>
	           <li><a href="#">Separated link</a></li>
	           <li role="separator" class="divider"></li>
	           <li><a href="#">One more separated link</a></li>
	         </ul>
	       </li> -->
	     </ul>
	     <form class="navbar-form navbar-right" role="search">
	       <div class="form-group">
	         <input type="text" class="form-control" ng-model=searchValue placeholder="Search">
	       </div>
	       <button type="submit" ng-click="search()" class="btn btn-default">Submit</button>
	     </form>
	     <ul class="nav navbar-nav navbar-right">
	      <!-- <li><button ng-click="login()" class="glyphicon glyphicon-lock"></button>Login</li>
	        <li class="dropdown">
	         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	         <ul class="dropdown-menu">
	           <li><a href="#">Action</a></li>
	           <li><a href="#">Another action</a></li>
	           <li><a href="#">Something else here</a></li>
	           <li role="separator" class="divider"></li>
	           <li><a href="#">Separated link</a></li>
	         </ul>
	       </li> -->
	     </ul>
	   </div><!-- /.navbar-collapse -->
	 </div><!-- /.container-fluid -->
	</nav>				
	<div ng-view=""></div>	
</div>	
</body>
<script type="text/javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular-route.min.js"></script>
<script type="text/javascript" src="js/controller/appCtrl.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript">
 myApp.config(['$routeProvider',
  function($routeProvider) {
    $routeProvider.
      when('/aboutUs', {
        templateUrl: 'partials/comman/aboutUs.html',        
      }).
      when('/home', {
        templateUrl: 'partials/comman/home.html',        
      }).
      when('/login', {
          templateUrl: 'partials/login/landing.html',        
        }).
      when('/share', {
          templateUrl: 'partials/share.html',        
        }).
      when('/veggies', {
          templateUrl: 'partials/comman/veggies.html',        
        }).
      when('/fruits', {
          templateUrl: 'partials/comman/fruits.html',        
        }).
        when('/checkout', {
            templateUrl: 'partials/payment/checkout.html',        
          }).
      otherwise({
        redirectTo: '/home'
      });
  }]);
</script>
</html>